name: CI Pipeline
on: [push, pull_request]

jobs:
  nvml-example:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup
        working-directory: examples/nvml
        run: |
          ./download-nvidia-smi.sh
          ./build.sh
      - name: Test
        working-directory: examples/nvml
        env:
          LD_LIBRARY_PATH: .
        run: |
          echo "================" >> run.log
          echo "> nvidia-smi" >> run.log
          # swallow this run for now. the other invocations doesn't seem affected errors.
          ./run.sh ./nvidia-smi 2>> run.log || true

          echo "================" >> run.log
          echo "> ./nvidia-smi -q" >> run.log
          ./run.sh ./nvidia-smi -q 2>> run.log

          echo "================" >> run.log
          echo "> ./nvidia-smi nvlink -s" >> run.log
          ./run.sh ./nvidia-smi nvlink -s 2>> run.log

          cat run.log
